.card-body {
    overflow-x: auto;
}
.link-primary {
    color: black !important;
    text-decoration: none;
}
.div-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
